/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1/node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[2]!./node_modules/.pnpm/next@14.2.4_react-dom@18.3.1_react@18.3.1/node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[13].oneOf[7].use[3]!./src/app/page.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************************/
.page_container__aoG4z {
  display: flex;
  flex-direction: row;
  background-color: rgb(var(--background-end-rgb));
  width: 100dvw;
  height: 100dvh;
}
.page_left__GAiiX {
  flex: 1 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_right__M89Ik {
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.page_right__M89Ik h1 {
  font-weight: bold;
  font-size: 64px;
  margin: 48px 0;
}
.page_right__M89Ik h2 {
  font-weight: bold;
  font-size: 31px;
  margin-bottom: 32px;
}
.page_right__M89Ik h3 {
  font-weight: bold;
  font-size: 17px;
  margin-bottom: 20px;
  margin-top: 40px;
}

.page_signup__I4er5 {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  background-color: rgb(29, 155, 240);
  color: white;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_signup__I4er5:hover {
  background-color: rgb(26, 140, 216);
}
.page_login__6Y4hx {
  width: 300px;
  height: 40px;
  border-radius: 20px;
  padding: 0 16px;
  font-size: 15px;
  color: rgb(29, 155, 240);
  border: 1px solid rgb(207, 217, 222);
  display: flex;
  align-items: center;
  justify-content: center;
}
.page_login__6Y4hx:hover {
  background-color: rgba(29, 155, 240, 0.1);
}
@media all and (min-width: 1000px) {
  .page_container__aoG4z {
    flex-direction: row;
    padding: 0;
  }
  .page_left__GAiiX {
    flex: 1 1;
    justify-content: center;
  }
  .page_left__GAiiX img {
    width: 550px;
    height: 550px;
  }
  .page_right__M89Ik {
    justify-content: center;
  }
  .page_right__M89Ik h1 {
    font-size: 64px;
  }
}

